In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
up = pd.read_csv("./data/up.csv")

In [3]:
up.head()

,Unnamed: 0,(Revenue Report),이번 달로 가기,총매출,PACK,CARTON,GRCY,GRCY NT,KRATOM,MISC,...,LOTTO P/O,SCRATCH.1,SCRATCH P/O,$0.00,TOTALnontax,Unnamed: 46,이번 달로 가기.1,Grcy NT,TOTAL,Unnamed: 50
0,2020년 7월,"$1,956.56",7/1/2020 Wed,"$1,524.00",$580.84,$0.00,$224.90,NaN,NaN,$20.32,...,NaN,NaN,NaN,"$1,524.00",NaN,NaN,7/1/2020 Wed,NaN,"-$1,524.00",$861.87
1,NaN,NaN,7/2/2020 Thu,"$1,580.41",$543.89,$0.00,$326.50,$0.00,NaN,$49.21,...,NaN,NaN,NaN,"$1,580.41",NaN,NaN,7/2/2020 Thu,$0.00,"-$1,580.41",$669.42
2,Total Revenue,"$54,783.59",7/3/2020 Fri,"$2,205.65",$803.29,$0.00,$266.26,$0.00,NaN,$150.82,...,NaN,NaN,NaN,"$2,205.65",NaN,NaN,7/3/2020 Fri,$0.00,"-$2,205.65",$909.67
3,Reported,"$47,375.02",7/4/2020 Sat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,$0.00,NaN,NaN,7/4/2020 Sat,NaN,$0.00,$0.00
4,Revenue from Card,"$29,503.27",7/5/2020 Sun,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,$0.00,NaN,NaN,7/5/2020 Sun,NaN,$0.00,$0.00

In [4]:
# Omit some columns that are not used.
up.drop(columns=['Unnamed: 0', '(Revenue Report)','잡화 비율', '카드/총매출', 
                 'Unnamed: 25', 'Unnamed: 26', '주', '주별 평균 매출','PACK.1', 
                 'CARTON.1', 'GRCY.1', 'GRCY NT.1', 'KRATOM.1', 'MISC.1',
                 'VAPE.1', 'APPAREL.1', 'TOBACCO.1', 'BEER', 'CIGAR.1', 'LOTTO.1',
                 'LOTTO P/O', 'SCRATCH.1', 'SCRATCH P/O', '$0.00', 'TOTALnontax',
                 'Unnamed: 46', '이번 달로 가기.1', 'Grcy NT', 'TOTAL', 'Unnamed: 50'], 
        inplace=True)

In [5]:
# Change the column names.
up.rename(columns={"이번 달로 가기": "date", "총매출": "total", 
                   "메인포스": "main", "카드": "card"}, inplace=True);

In [6]:
# Change uppercase column names to lowercase and put _ for spaces
up.columns = [col.replace(' ', '_').lower() for col in up.columns]
up.columns = [col.replace('/', '_') for col in up.columns]
# There was a columns name that had space in the beginning
up.rename(columns={"_beer": "beer"}, inplace=True);

In [7]:
# Set 'date' column as index
up = up.set_index('date')

In [8]:
pd.set_option('display.max_columns', None)
up.head()

,total,pack,carton,grcy,grcy_nt,kratom,misc,vape,apparel,tobacco,beer,cigar,cigar_accessory,cbd_d8,lotto,p_o,scratch,scp_o,main,card
date,,,,,,,,,,,,,,,,,,,,
7/1/2020 Wed,"$1,524.00",$580.84,$0.00,$224.90,NaN,NaN,$20.32,NaN,NaN,$122.44,$439.68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"-$1,524.00",$662.13
7/2/2020 Thu,"$1,580.41",$543.89,$0.00,$326.50,$0.00,NaN,$49.21,NaN,NaN,$95.56,$424.22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"-$1,580.41",$910.99
7/3/2020 Fri,"$2,205.65",$803.29,$0.00,$266.26,$0.00,NaN,$150.82,NaN,NaN,$112.75,$662.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"-$2,205.65","$1,295.98"
7/4/2020 Sat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7/5/2020 Sun,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# Delete rows that contain null values for all
up.dropna(thresh=10, inplace=True)

In [10]:
pd.set_option('display.max_columns', None)
up.head(20)

,total,pack,carton,grcy,grcy_nt,kratom,misc,vape,apparel,tobacco,beer,cigar,cigar_accessory,cbd_d8,lotto,p_o,scratch,scp_o,main,card
date,,,,,,,,,,,,,,,,,,,,
7/2/2020 Thu,"$1,580.41",$543.89,$0.00,$326.50,$0.00,NaN,$49.21,NaN,NaN,$95.56,$424.22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"-$1,580.41",$910.99
7/3/2020 Fri,"$2,205.65",$803.29,$0.00,$266.26,$0.00,NaN,$150.82,NaN,NaN,$112.75,$662.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"-$2,205.65","$1,295.98"
7/7/2020 Tue,"$1,059.06",$450.29,$0.00,$102.78,$0.00,NaN,$49.06,NaN,NaN,$61.23,$301.79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"-$1,059.06",$418.33
7/8/2020 Wed,"$1,578.40",$581.69,$0.00,$167.32,$14.62,NaN,$79.47,$55.97,NaN,$64.66,$472.38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"-$1,578.40",$797.50
7/9/2020 Thu,"$1,690.63",$583.25,$82.70,$199.81,$5.87,NaN,$159.47,$96.94,NaN,$75.61,$333.66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"-$1,690.63",$827.64
7/10/2020 Fri,"$2,112.67",$682.47,$0.00,$192.46,$28.28,NaN,$116.80,$47.97,NaN,$70.92,$784.08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"-$2,112.67","$1,168.12"
7/11/2020 Sat,"$1,623.80",$578.79,$0.00,$115.46,$50.08,NaN,$201.82,$92.96,NaN,$35.02,$406.49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"-$1,623.80",$808.51
7/12/2020 Sun,"$1,608.18",$547.03,$0.00,$123.31,$39.76,NaN,$171.87,$115.13,NaN,$96.98,$371.42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"-$1,456.06",$749.57
7/13/2020 Mon,"$1,963.52",$748.12,$0.00,$157.58,$59.97,NaN,$153.59,$88.95,NaN,$102.55,$480.49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"-$1,595.40",$960.32
7/14/2020 Tue,"$1,802.30",$554.93,$0.00,$164.46,$32.85,NaN,$283.31,$74.30,NaN,$48.47,$517.28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"-$1,126.79",$760.12
7/15/2020 Wed,"$1,946.40",$550.73,$0.00,$191.18,$70.36,NaN,$282.97,$82.95,NaN,$74.93,$409.63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"-$1,530.28",$912.50
7/16/2020 Thu,"$2,240.16",$652.38,$0.00,$168.72,$32.33,NaN,$204.09,$376.94,NaN,$122.53,$482.98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"-$1,959.85","$1,287.15"
7/17/2020 Fri,"$2,384.22",$657.40,$0.00,$140.58,$42.04,NaN,$457.31,$202.83,NaN,$114.70,$556.22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"-$1,906.47","$1,309.37"
7/18/2020 Sat,"$2,350.18",$654.86,$0.00,$50.75,$60.86,NaN,$264.84,$146.90,NaN,$136.92,$762.64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"-$2,118.21","$1,497.40"
7/19/2020 Sun,"$1,842.31",$537.77,$0.00,$163.25,$23.32,NaN,$230.40,$157.91,NaN,$85.56,$477.19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"-$1,398.76",$936.91
7/20/2020 Mon,"$2,170.59",$740.00,$0.00,$210.87,$39.02,NaN,$330.48,$140.89,NaN,$96.11,$419.24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"-$1,533.01",$877.83
7/21/2020 Tue,"$1,905.09",$369.63,$82.70,$195.66,$32.87,NaN,$209.26,$156.88,NaN,$107.65,$580.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"-$1,539.29","$1,142.32"
7/22/2020 Wed,"$1,857.88",$617.87,$0.00,$173.63,$23.09,NaN,$169.13,$287.81,NaN,$115.82,$303.19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"-$1,643.66","$1,079.46"
7/23/2020 Thu,"$2,031.73",$528.81,$87.10,$106.10,$97.79,NaN,$261.08,$150.91,NaN,$109.18,$535.61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"-$1,698.84","$1,145.29"
7/24/2020 Fri,"$2,366.84",$552.64,$0.00,$154.88,$61.80,NaN,$205.38,$346.78,NaN,$111.52,$723.22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"-$2,058.17","$1,569.53"

In [11]:
up.head()

,total,pack,carton,grcy,grcy_nt,kratom,misc,vape,apparel,tobacco,beer,cigar,cigar_accessory,cbd_d8,lotto,p_o,scratch,scp_o,main,card
date,,,,,,,,,,,,,,,,,,,,
7/2/2020 Thu,"$1,580.41",$543.89,$0.00,$326.50,$0.00,NaN,$49.21,NaN,NaN,$95.56,$424.22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"-$1,580.41",$910.99
7/3/2020 Fri,"$2,205.65",$803.29,$0.00,$266.26,$0.00,NaN,$150.82,NaN,NaN,$112.75,$662.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"-$2,205.65","$1,295.98"
7/7/2020 Tue,"$1,059.06",$450.29,$0.00,$102.78,$0.00,NaN,$49.06,NaN,NaN,$61.23,$301.79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"-$1,059.06",$418.33
7/8/2020 Wed,"$1,578.40",$581.69,$0.00,$167.32,$14.62,NaN,$79.47,$55.97,NaN,$64.66,$472.38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"-$1,578.40",$797.50
7/9/2020 Thu,"$1,690.63",$583.25,$82.70,$199.81,$5.87,NaN,$159.47,$96.94,NaN,$75.61,$333.66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"-$1,690.63",$827.64

In [12]:
# Found a major flaw to the data frame. All the values have '$' in front 
# of the digits that makes the data types all objects.
up.dtypes

total              object
pack               object
carton             object
grcy               object
grcy_nt            object
kratom             object
misc               object
vape               object
apparel            object
tobacco            object
beer               object
cigar              object
cigar_accessory    object
cbd_d8             object
lotto              object
p_o                object
scratch            object
scp_o              object
main               object
card               object
dtype: object

In [13]:
# We would need to take the '$' out and make them into floats.
for i in up.columns:
    up[i] = up[i].str.replace('$','')

C:\Users\kyoun\AppData\Local\Temp/ipykernel_5404/1561699701.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  up[i] = up[i].str.replace('$','')

In [14]:
up.head()

,total,pack,carton,grcy,grcy_nt,kratom,misc,vape,apparel,tobacco,beer,cigar,cigar_accessory,cbd_d8,lotto,p_o,scratch,scp_o,main,card
date,,,,,,,,,,,,,,,,,,,,
7/2/2020 Thu,"1,580.41",543.89,0.00,326.50,0.00,NaN,49.21,NaN,NaN,95.56,424.22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"-1,580.41",910.99
7/3/2020 Fri,"2,205.65",803.29,0.00,266.26,0.00,NaN,150.82,NaN,NaN,112.75,662.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"-2,205.65","1,295.98"
7/7/2020 Tue,"1,059.06",450.29,0.00,102.78,0.00,NaN,49.06,NaN,NaN,61.23,301.79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"-1,059.06",418.33
7/8/2020 Wed,"1,578.40",581.69,0.00,167.32,14.62,NaN,79.47,55.97,NaN,64.66,472.38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"-1,578.40",797.50
7/9/2020 Thu,"1,690.63",583.25,82.70,199.81,5.87,NaN,159.47,96.94,NaN,75.61,333.66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"-1,690.63",827.64

In [15]:
up = up.fillna(0)

In [16]:
for i in up.columns:
    up[i] = up[i].str.replace(',','')

In [17]:
for i in up.columns:
    up[[i]] = up[[i]].astype(float)

In [18]:
up = up.fillna(0)

In [19]:
up['misc_total'] = up['misc'] + up['kratom'] + up['apparel'] + up['cigar_accessory'] + up['cbd_d8']

In [22]:
up.drop(columns=['misc', 'kratom', 'apparel', 'cigar_accessory', 'cbd_d8'])

,total,pack,carton,grcy,grcy_nt,vape,tobacco,beer,cigar,lotto,p_o,scratch,scp_o,main,card,misc_total
date,,,,,,,,,,,,,,,,
7/2/2020 Thu,1580.41,543.89,0.00,326.50,0.00,0.00,95.56,424.22,0.00,0.0,0.0,0.0,0.0,-1580.41,910.99,49.21
7/3/2020 Fri,2205.65,803.29,0.00,266.26,0.00,0.00,112.75,662.65,0.00,0.0,0.0,0.0,0.0,-2205.65,1295.98,150.82
7/7/2020 Tue,1059.06,450.29,0.00,102.78,0.00,0.00,61.23,301.79,0.00,0.0,0.0,0.0,0.0,-1059.06,418.33,49.06
7/8/2020 Wed,1578.40,581.69,0.00,167.32,14.62,55.97,64.66,472.38,0.00,0.0,0.0,0.0,0.0,-1578.40,797.50,79.47
7/9/2020 Thu,1690.63,583.25,82.70,199.81,5.87,96.94,75.61,333.66,0.00,0.0,0.0,0.0,0.0,-1690.63,827.64,159.47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5/13/2022 Fri,7904.24,833.19,197.20,138.73,79.00,2296.47,366.86,980.58,944.18,89.0,-20.0,92.0,-34.0,-6623.36,5232.93,1226.47
5/14/2022 Sat,7405.19,731.88,0.00,146.26,115.03,1851.58,401.62,756.82,1153.91,131.0,-5.0,136.0,-40.0,-6268.43,4999.85,1380.93
5/15/2022 Sun,4791.93,475.36,280.50,148.64,138.21,1138.10,372.31,629.18,139.89,38.0,0.0,129.0,-58.0,-4044.67,3057.25,1006.46
5/16/2022 Mon,5227.22,723.60,116.09,134.52,68.14,1437.38,339.03,562.45,260.61,134.0,-5.0,94.0,-16.0,4025.83,3175.00,1031.87
9/3/2020 Thu,3000.30,707.92,0.00,215.04,64.62,475.95,172.58,607.52,67.22,0.0,0.0,0.0,0.0,-2240.44,1669.09,422.38

In [25]:
up.drop()

KeyError: "['681'] not found in axis"