In [72]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [73]:
up = pd.read_csv("../data/up.csv")

In [74]:
up.head()

,Unnamed: 0,(Revenue Report),이번 달로 가기,총매출,PACK,CARTON,GRCY,GRCY NT,KRATOM,MISC,...,LOTTO P/O,SCRATCH.1,SCRATCH P/O,$0.00,TOTALnontax,Unnamed: 46,이번 달로 가기.1,Grcy NT,TOTAL,Unnamed: 50
0,2020년 7월,"$1,956.56",7/1/2020 Wed,"$1,524.00",$580.84,$0.00,$224.90,NaN,NaN,$20.32,...,NaN,NaN,NaN,"$1,524.00",NaN,NaN,7/1/2020 Wed,NaN,"-$1,524.00",$861.87
1,NaN,NaN,7/2/2020 Thu,"$1,580.41",$543.89,$0.00,$326.50,$0.00,NaN,$49.21,...,NaN,NaN,NaN,"$1,580.41",NaN,NaN,7/2/2020 Thu,$0.00,"-$1,580.41",$669.42
2,Total Revenue,"$54,783.59",7/3/2020 Fri,"$2,205.65",$803.29,$0.00,$266.26,$0.00,NaN,$150.82,...,NaN,NaN,NaN,"$2,205.65",NaN,NaN,7/3/2020 Fri,$0.00,"-$2,205.65",$909.67
3,Reported,"$47,375.02",7/4/2020 Sat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,$0.00,NaN,NaN,7/4/2020 Sat,NaN,$0.00,$0.00
4,Revenue from Card,"$29,503.27",7/5/2020 Sun,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,$0.00,NaN,NaN,7/5/2020 Sun,NaN,$0.00,$0.00

In [75]:
# Omit some columns that are not used.
up.drop(columns=['Unnamed: 0', '(Revenue Report)','잡화 비율', '카드/총매출', 
                 'Unnamed: 25', 'Unnamed: 26', '주', '주별 평균 매출','PACK.1', 
                 'CARTON.1', 'GRCY.1', 'GRCY NT.1', 'KRATOM.1', 'MISC.1',
                 'VAPE.1', 'APPAREL.1', 'TOBACCO.1', 'BEER', 'CIGAR.1', 'LOTTO.1',
                 'LOTTO P/O', 'SCRATCH.1', 'SCRATCH P/O', '$0.00', 'TOTALnontax',
                 'Unnamed: 46', '이번 달로 가기.1', 'Grcy NT', 'TOTAL', 'Unnamed: 50'], 
        inplace=True)

In [76]:
# Change the column names.
up.rename(columns={"이번 달로 가기": "dates", "총매출": "total", 
                   "메인포스": "main", "카드": "card"}, inplace=True);

In [77]:
# Change uppercase column names to lowercase and put _ for spaces
up.columns = [col.replace(' ', '_').lower() for col in up.columns]
up.columns = [col.replace('/', '_') for col in up.columns]
# There was a columns name that had space in the beginning
up.rename(columns={"_beer": "beer"}, inplace=True);

In [78]:
# Delete rows that contain null values for all
up.dropna(thresh=10, inplace=True)

In [79]:
# We would need to take the '$' out and make them into floats.
for i in up.columns:
    up[i] = up[i].str.replace('$','')

/var/folders/3c/yp84wwp916gfwxyxpt2b5g940000gn/T/ipykernel_87955/2518411798.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  up[i] = up[i].str.replace('$','')

In [80]:
# Omit the very bottom row
up = up.iloc[:-1, :]

In [81]:
up = up.fillna(0)

In [82]:
up['dates'] = up.dates.str.replace(r"[a-zA-Z]",'')
up['dates'] = [i.replace(' ', '') for i in up['dates']]

/var/folders/3c/yp84wwp916gfwxyxpt2b5g940000gn/T/ipykernel_87955/1129996420.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  up['dates'] = up.dates.str.replace(r"[a-zA-Z]",'')

In [83]:
# When looking at the columns, if the value is greater than one thousand, there is a comma before the hundredth digit. 
# To make them into a integer column, we will get rid of them. 
for i in up.columns:
    up[i] = up[i].str.replace(',','')

In [84]:
up.columns

Index(['dates', 'total', 'pack', 'carton', 'grcy', 'grcy_nt', 'kratom', 'misc',
       'vape', 'apparel', 'tobacco', 'beer', 'cigar', 'cigar_accessory',
       'cbd_d8', 'lotto', 'p_o', 'scratch', 'scp_o', 'main', 'card'],
      dtype='object')

In [85]:
up[['total', 'pack', 'carton', 'grcy', 'grcy_nt', 'kratom', 'misc',
       'vape', 'apparel', 'tobacco', 'beer', 'cigar', 'cigar_accessory',
       'cbd_d8', 'lotto', 'p_o', 'scratch', 'scp_o', 'main', 'card']] = up[['total', 'pack', 'carton', 'grcy', 'grcy_nt', 'kratom', 'misc',
       'vape', 'apparel', 'tobacco', 'beer', 'cigar', 'cigar_accessory',
       'cbd_d8', 'lotto', 'p_o', 'scratch', 'scp_o', 'main', 'card']].astype(float)

In [86]:
up['dates'] = pd.to_datetime(up['dates'])

In [87]:
# Eliminate all null values
up = up.fillna(0)

In [88]:
up['misc_total'] = up['misc'] + up['kratom'] + up['apparel'] + up['cigar_accessory'] + up['cbd_d8']

In [89]:
up = up.drop(columns=['misc', 'kratom', 'apparel', 'cigar_accessory', 'cbd_d8'])

In [90]:
up = up[['dates', 'total', 'pack', 'carton', 'grcy', 'grcy_nt', 'misc_total', 'vape', 'tobacco', 'beer', 'cigar', 'lotto', 'p_o', 'scratch', 'scp_o', 'main', 'card']]

In [93]:
up.to_csv('/Users/kyoungbari/Desktop/Project/up/data/up_df.csv')