In [34]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [35]:
kent = pd.read_csv("/Users/kyoungbari/Desktop/Project/kent/data/kent.csv")

In [36]:
pd.set_option('display.max_columns', None)
kent.head(5)

,매출 보고,(Revenue Report),이번 달로 가기,총매출,팩,카튼,그로서리,잡화,토바코,맥주,메인포스,카드,잡화 비율,카드/총매출,Unnamed: 14,주,주별 평균 매출,평균 담배 갑,평균 담배보루,평균 그로서리,평균 잡화,평균 토바코,평균 맥주,누락,주별 총 누락,Unnamed: 25,매출,담배 갑,담배보루,그로서리.1,잡화.1,토바코.1,맥주.1
0,2017년 3월,매출 보고,3/22/2017 Wed,"$1,597.98",$356.53,$138.89,$2.98,$750.50,$159.28,$50.27,"-$1,362.56",$852.54,51.66%,53.35%,NaN,Week 1,"$1,444.37",$368.42,$62.20,$5.54,$679.83,$129.09,$73.76,$235.42,"$1,102.30",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,3/23/2017 Thur,"$1,355.14",$319.78,$27.99,$11.02,$670.83,$115.21,$92.76,-$930.31,$506.88,54.45%,37.40%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,$424.83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,실제 수익,"$13,861.83",3/24/2017 Fri,"$1,661.57",$387.85,$81.90,$3.67,$782.35,$150.11,$111.50,"-$1,442.03",$891.91,51.79%,53.68%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,$219.54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,보고 수익,"$11,114.90",3/25/2017 Sat,"$1,162.80",$409.53,$0.00,$4.47,$515.63,$91.77,$40.52,-$940.29,$595.48,48.78%,51.21%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,$222.51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,카드 수익,"$6,556.52",3/27/2017 Mon,"$1,732.84",$437.70,$217.08,$16.89,$610.32,$193.00,$107.52,"-$1,409.94",$831.28,38.74%,47.97%,NaN,Week 2,"$1,641.54",$476.00,$141.48,$13.98,$620.69,$162.14,$83.54,$322.90,"$2,098.35",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
kent = kent[['이번 달로 가기', '총매출', '팩', '카튼', '그로서리', '잡화', '토바코', '맥주', '메인포스', '카드']]

In [38]:
# Change the column names.
kent.rename(columns={"이번 달로 가기": "dates", "총매출": "total", '팩': 'pack', '카튼':'carton', '그로서리':'grcy', '잡화':'misc_total', 
                    '토바코': 'tobacco', '맥주':'beer', "메인포스": "main", "카드": "card"}, inplace=True);

In [39]:
kent.dropna(thresh=7, inplace=True)

In [40]:
# We would need to take the '$' out and make them into floats.
for i in kent.columns:
    kent[i] = kent[i].str.replace('$','')

/var/folders/3c/yp84wwp916gfwxyxpt2b5g940000gn/T/ipykernel_90130/3585085455.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  kent[i] = kent[i].str.replace('$','')

In [41]:
kent = kent.fillna(0)

In [42]:
kent['dates'] = kent.dates.str.replace(r"[a-zA-Z]",'')
kent['dates'] = [i.replace(' ', '') for i in kent['dates']]

/var/folders/3c/yp84wwp916gfwxyxpt2b5g940000gn/T/ipykernel_90130/2996760678.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  kent['dates'] = kent.dates.str.replace(r"[a-zA-Z]",'')

In [43]:
# When looking at the columns, if the value is greater than one thousand, there is a comma before the hundredth digit. 
# To make them into a integer column, we will get rid of them. 
for i in kent.columns:
    kent[i] = kent[i].str.replace(',','')

In [45]:
kent[['total', 'pack', 'carton', 'grcy', 'misc_total', 'tobacco', 'beer', 'main', 'card']] = kent[['total', 'pack', 'carton', 'grcy', 'misc_total', 'tobacco', 'beer', 'main', 'card']].astype(float)

In [46]:
kent['dates'] = pd.to_datetime(kent['dates'])

In [47]:
kent.to_csv('/Users/kyoungbari/Desktop/Project/kent/data/kent_eda.csv')